<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">EXPERIÊNCIA</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Abril 2017-Atual</h4>
                                    <h4 class="subheading">App Facilita (Goiânia-GO)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Businnes Inteligence Power BI e Lider de Qualidade de Software, responsável pela documentaçao e gestão dos requisitos e aplicação de processos de ETL com Power BI e Mysql para análises sofisticadas de dados dos CRMs dos clientes. Apoio em definições estratégicas e gestão de projetos com foco em produtividade e resultado da empresa que detém produtos voltados para o segmento imobiliário com tecnologias inteligentes, capazes de otimizar o trabalho das construtoras.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-2016</h4>
                                    <h4 class="subheading">ECT- SERT (Palmas-TO)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Atuando como estagiária na gestão e manutenção dos recusos tecnológicos, apoio no administrativo do setor de tecnologia.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">ESMAT-TO (Palmas-TO)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Atuando como estagiária em análise de melhoria do sistema SAV (Secretaria Acadêmica Virtual) e aplicação de testes funcionais (usuário, aceitação, regressão) . Apoio no levantamento e documentação/especificação de requisitos; reuniões de passagem de requisitos. Apoio de melhorias no desenvolvimento frontend.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">UFT (Palmas-TO)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Apoio no desenvolvimento do sistema SIGD (Sistema de Gerenciamento de Projetos de Graduação). Levantamento de requisitos, elaboração de manual do sistema, modelagem UML e execução de testes (usuário, regressão, , automação de builds- Maven).</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
