<aside class="clients">
       <div class="container">
	<div class="row">
    <h2>HABILIDADES</h2>
		 <!-- Skill Bars -->
            <div class="progress skill-bar ">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                    <span class="skill">Banco de Dados<i class="val">99%</i></span>
                </div>
            </div>
                
            <div class="progress skill-bar">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" >
                    <span class="skill">Relatórios BI (Power BI)<i class="val">90%</i></span>
                </div>
            </div>
            
            <div class="progress skill-bar">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                    <span class="skill">Documentação API REST (Swagger)<i class="val">90%</i></span>
                </div>
            </div>  
            
            <div class="progress skill-bar">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                    <span class="skill">Documentação de código PHP (phpDocumentor) <i class="val">85%</i></span>
                </div>
            </div>  
	
	    <div class="progress skill-bar">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                    <span class="skill">Gestão de Equipe de Qualidade de Software<i class="val">95%</i></span>
                </div>
            </div>
		
	    <div class="progress skill-bar">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                    <span class="skill">Agente de Suporte<i class="val">100%</i></span>
                </div>
            </div>
		
	   <div class="progress skill-bar">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                    <span class="skill">Análise e Documentação UML de Requisitos de Software<i class="val">95%</i></span>
                </div>
           </div>
		
           <div class="progress skill-bar">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                    <span class="skill"> Análise de Melhoria e Testes de Software<i class="val">100%</i></span>
                </div>
           </div>
		
	   <div class="progress skill-bar">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    <span class="skill">CSS/HTML5<i class="val">75%</i></span>
                </div>
           </div>

            
	</div>
</div>
</aside>
