<!-- Clients Aside -->
    <!-- start about-area -->
        <section id="skills" class="skill-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="skills">
                            <h4 class="text-center">Habilidades</h4>
                            <div class="skill-list">
                                <div class="progress">
                                    <h6>Html 5</h6>
                                    <div class="progress-bar wow fadeInLeft" data-progress="95%" style="width: 80%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>80%</span></div>
                                </div>
                                <div class="progress">
                                    <h6>CSS 3</h6>
                                    <div class="progress-bar wow fadeInLeft" data-progress="85%" style="width: 75%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>75%</span></div>
                                </div>
                                <div class="progress">
                                    <h6>Python</h6>
                                    <div class="progress-bar wow fadeInLeft" data-progress="88%" style="width: 85%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>85%</span></div>
                                </div>
                                <div class="progress">
                                    <h6>Photoshop</h6>
                                    <div class="progress-bar wow fadeInLeft" data-progress="88%" style="width: 80%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>80%</span></div>
                                </div>
                                <div class="progress">
                                    <h6>Illustrator</h6>
                                    <div class="progress-bar wow fadeInLeft" data-progress="88%" style="width: 70%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>70%</span></div>
                                </div>
                                <div class="progress">
                                    <h6>CorelDraw</h6>
                                    <div class="progress-bar wow fadeInLeft" data-progress="88%" style="width: 82%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>82%</span></div>
                                </div>
                                <div class="progress">
                                    <h6>JavaScript</h6>
                                    <div class="progress-bar wow fadeInLeft" data-progress="88%" style="width: 83%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>83%</span></div>
                                </div>
                                <div class="progress">
                                    <h6>jQuery</h6>
                                    <div class="progress-bar wow fadeInLeft" data-progress="88%" style="width: 72%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>72%</span></div>
                                </div>
                                <div class="progress">
                                    <h6>Git</h6>
                                    <div class="progress-bar wow fadeInLeft" data-progress="88%" style="width: 87%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>87%</span></div>
                                </div>
                            </div>
                        </div>
