<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Serviços</h2>
                    <h3 class="section-subheading text-muted">
Através da superação pessoal de grandes desafios relacionados a minha área de atuação, me transformei em uma sedenta com competências essenciais que vão da concepção e do planejamento até a melhoria e o desenvolvimento de indiicadores de apoio para a tomada de decisão, com capacidade de condução de projetos de viabilização e melhoria de soluções de inteligência de negócio. Tenho como missão o desenvolvimento de soluções de Business Intelligence que atendam a completude da necessidade informacional para tomada de decisão, entremeada à visão de proporcionar a mais eficiente solução e implantação de BI, avaliar requisitos, identificar oportunidade de melhorias de processos e gerar bons resultados.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Business Intelligence Power BI</h4>
                    <p class="text-muted">Extração de Cargas de dados em ETL utilizando Power BI e criação de relatórios, dashboard. Desenvolvimento de Querys SQL/Mysql avançadas para automatização de rotinas de extração de dados.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Análise de Sistemas</h4>
                    <p class="text-muted">Levantamento e análise de requisitos funcionais e técnicos  dos sistemas, documentação dos requisitos, modelagem UML (casos de uso, diagramas de classe, documento de visão); Reuniões de passagem de requisitos; Realização de testes no sistema (usuário, aceitação, regressão),  análise de melhoria no sistema.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Documentação Técnica</h4>
                    <p class="text-muted">Documentação  API REST utilizando Swagger.io, documentação Técnica de código fonte utilizando phpDocumentor.</p>
                </div>
            </div>
        </div>
    </section>
